@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// =============== Variable CSS Start =============== //
$ColorWhite: #fff;
$ColorBlack:#000;
$ColorDark:#252525;
$ColorPrimary:#4d1eb7;
$ColorPrimary2:#7538ff;
$ColorPrimary2Hover:#6325f0;
$ColorHero1:#4d1eb7;
$ColorHero2:#47278F;
$ColorSecendry:#ff45ad;
$ColorSecendryHover:#de2b8f;

// =============== Variable CSS End =============== //


// =============== Basic CSS Start =============== //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins',
    sans-serif !important;
}

// =============== Basic CSS End =============== //

// =============== Header CSS Start =============== //
.header-bg {
  background-color: $ColorPrimary;
}

.navbar-brand {
  color: $ColorWhite !important;
  font-weight: 500;
}

.navbar-nav a {
  color: $ColorWhite !important;
  padding: 15px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
}

// =============== Header CSS End =============== //

// =============== Home CSS Start =============== //
.hero-area-wrap {
  background-color: transparent;
  background-image: linear-gradient(180deg, $ColorHero1 0%, $ColorHero2 100%);
  padding: 110px 0px 110px 0px;

  .hero-area-content {
    h1 {
      font-size: 3.6em;
      color: $ColorWhite;
      font-weight: 700;
      line-height: 1.2em;
      text-transform: capitalize;
    }

    p {
      color: $ColorWhite;
      padding: 20px 7px;
      font-size: 16px;
      line-height: 1.7em;
    }

    .hero-btn-group {
      a {
        font-size: 1em;
        font-weight: 600;
        line-height: 1.2em;
        color: $ColorWhite;
        background-color: $ColorPrimary2;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 4px 4px 4px 4px;
        padding: 18px 40px 18px 40px;
        margin-top: 10px !important;
        display: inline-block;
        transition: .3s;
        margin-right: 30px;

        &:hover {
          background-color: $ColorPrimary2Hover;
          transition: .3s;
        }

        &:last-child {
          background-color: $ColorSecendry;

          &:hover {
            background-color: $ColorSecendryHover;
          }
        }
      }
    }
  }

  .hero-area-image {
    img {
      border-radius: 6px 300px 6px 300px;
      transition: .3s;

      // border-radius: 300px 6px 300px 6px;
      &:hover {
        border-radius: 300px 6px 300px 6px;
        transition: .3s;
        cursor: grab;
      }
    }
  }

}

.section-title {
  padding: 50px;

  h3 {
    font-size: 2.2em;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 1.3em;
    color: $ColorDark;
  }

  p {
    color: $ColorDark;
  }
}

// Quiz Card CSS 

.quiz-single-item {
  padding-bottom: 50px;

  .quiz-logo {
    border-radius: 6px;
    margin-bottom: 20px;
    background: #ECEDFB;
    width: 100%;
  }

  h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  p {
    color: #818496;
  }

  a {
    color: #0a0a0a;
    font-size: 1em;
    font-weight: 500;

    img {
      margin-left: 10px;

      &:hover {
        animation: move-infinity 2s ease infinite alternate;
      }
    }
  }
}

@keyframes move-infinity {
  to {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }
}

// =============== Home CSS End =============== //


// =============== Quiz Details Page CSS Start =============== //

.quiz-details-wrap {
  h1 {
    text-align: center;
    font-weight: 600;
    margin: 40px;

    b {
      font-weight: 700;
      background-color: $ColorPrimary;
      color: $ColorWhite;
      padding: 10px 20px;
      border-radius: 6px;
    }
  }



}

.option-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);

  div {
    margin: 6px;
    border-radius: 6px;
  }

  .option {
    background: $ColorPrimary;
    padding: 20px;
    color: $ColorWhite;
    height: 90px;
    line-height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $ColorPrimary2;
      transition: .3s;
    }
  }


}

.quiz-single-item-wrap {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 6px;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

  h3 {
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.form-check {
  border: 2px solid $ColorPrimary;
}

.show-ans-btn {
  button {
    background: $ColorSecendry;
    border: 0;
    font-size: 20px;
    color: $ColorWhite;
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
}

// =============== Quiz Details Page CSS End =============== //